/TeamGreating/nbproject/private/
/TeamGreeting/build/

/TeamGreeting/dist/
/ProfileWorkareaExample/build/
/ProfileWorkareaExample/nbproject/private/
/DigitalUniversitySystem/nbproject/private/
/DigitalUniversitySystem/build/
